<!--ここから-->
  <div class="style2">
  <div id="1222" class="title4">【イベント詳細】12月22日（土）に行なわれるザ・フーパーズFANTASIC SHOW〜クリスマス大感謝祭SP DAY1〜への出演が決定しました！</div><br>

■イベント名：ザ・フーパーズ FANTASIC SHOW〜クリスマス大感謝祭SP DAY1〜<br>
■公演日：2018年12月22日（土）<br>
■会場：<a href="http://www.kashiwa-palooza.com/pc/index2.html" target="_blank">柏PALOOZA</a>&nbsp;
＜住所〒277-0005　千葉県柏市柏3-2-22 林ビル 2F＞<br>
■OPEN 12:30/13:00  <br>
※AXELLは、1部のみの出演になります。<br>

■出演者：AXELL、つばさ師匠、little hoop、and more??<br><br>
■チケット：オールスタンディング￥4,000（税込・入場時別途ドリンク代必要・整理番号付き）<br>
■一般チケット発売：12月1日10:00〜詳細は<a href="http://thehoopers.jp/news/?id=1187" target="_blank">ザ・フーパーズのオフィシャルサイト</a>にてご確認ください。<br>

<div class="foot1">2018.11.19</div></div><br>   

<!--ここまで-->
