<!--ここから-->
  <div class="style2">
  <div id="0901" class="title4">【イベント詳細】新星堂 presents「iPop Fes Vol.73」出演決定！
</div><br>

9月1日(土)池袋サンシャインシティ噴水広場にて開催される、新星堂 presents「iPop Fes Vol.73」への出演が決定しました！！<br>
イベント続きのAXELLですが、みなさんぜひぜひ会いに来てください！<br><br>


■開催日時：2018年9月1日（土）<br>
■時間：1部11:00〜 / 2部14:15〜 / 3部17:30〜 <br>
■開催場所：<a href="http://www.sunshinecity.co.jp/information/access_train.html">池袋サンシャインシティ　噴水広場</a>
(住所：〒170-8630　東京都豊島区東池袋3-1-1）<br>


■イベント内容<br>
ミニライブ＆特典会<br>
【観覧】フリー（優先観覧エリア有）【座席】一部有り（女性/ファミリー優先エリア有）<br><br>

【1部】11:00〜東京23区ガールズ/AXELL/ナナランド<br>
【2部】14:20〜callme/さんみゅ〜/2o Love to Sweet Bullet<br>
【3部】17:30〜Pimm's/X21/虹のコンキスタドール<br>

※AXELLの特典会は握手会のみとなります。<br><br>

■販売時間・場所：<br>
噴水広場ステージ　特設CD予約/販売コーナー<br>
<font color="red">1部出演アーティスト⇒10:00〜</font>/
<font color="red">2部出演アーティスト⇒12:00〜</font>/
<font color="red">3部出演アーティスト⇒15:00〜</font>/<br>

サンシャインシティ　噴水広場ステージ　特設CD予約販売コーナー<br><br>

 <div class="foot1">2018.8.20</div></div><br>
<!--ここまで--> 


