<!--ここから-->
  <div class="style2">
  <div id="0829" class="title4">【イベント詳細】2018年8月29日(水）シアワセメロディー発売記念スペシャル開催決定！
</div><br>

8月29日（水）JOL原宿さんにて、「シアワセメロディー」の発売記念イベントの開催が決定いたしました。<br>
物販商品をご購入頂きました方は、ステージイベント終了後の特典会にご参加頂けます。<br>
特典会には浴衣AXELLが登場いたします。<br>

<br><br>

■開催日時：2018年8月29日（水）<br>
■開場 17:45～ 開演 18:00～ <br>
■物販開始：16:30～（整列開始16:20）※スタッフの指示に従ってお並びください。<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：JOL原宿<br><br>

■特典会内容：握手会/撮影会/チェキ会（浴衣AXELL）

 <div class="foot1">2018.7.25</div></div><br>
<!--ここまで--> 


