<!--ここから-->
  <div class="style2">
  <div id="0617" class="title4">【イベント詳細】2018年6月17日(日）花婿AXELLとジューンブライドスペシャル詳細決定！</div><br>

■開催日時：2018年6月17日（日）<br>
■開場 12:45～ 開演 13:00～ <br>
■物販開始：11:30～（整列開始11:20）※スタッフの指示に従ってお並びください。<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：JOL原宿<br><br>

■特典会内容：握手会／撮影会／チェキ会（花婿AXELL）<br>

 <div class="foot1">2018.5.15</div></div><br>
<!--ここまで--> 


