<!--ここから-->
  <div class="style2">
  <div id="0726" class="title4">【イベント詳細】タワーレコード横浜ビブレ店インストアイベント決定！</div><br>


7月26日（木）タワーレコード横浜ビブレ店さんにて、インストアイベントが決定いたしました。<br>
物販商品をご購入・ご予約頂きました方は、ステージイベント終了後の特典会にご参加頂けます。皆さまぜひお越しください！
<br><br>

■開催日時：2018年7月26日（木）<br>
■START： 19:00～ 観覧自由<br>
■CD予約受付開始：18:00～
(店内通常のレジスペースではなく、イベントスペースにて受付いたします）<br>
■イベント内容：ミニライブ＆特典会<br>
■開催場所：タワーレコード横浜ビブレ店<br><br>
■特典会内容：握手会／撮影会／チェキ会（シアワセメロディー新衣装）

 <div class="foot1">2018.7.03</div></div><br>
<!--ここまで--> 


