<!--ここから-->
  <div class="style2">
  <div id="1212" class="title4">【イベント詳細】12月12日（火）に行われる収録イベントTOKYO MX「おはよう！アイドル長屋REMIX収録イベントvol.15」への出演が決定しました！</div><br>

■イベント名：「おはよう！アイドル長屋REMIX　収録イベント vol.15」<br>
■公演日：2018年12月12日（火）<br>
■会場：<a href="http://www.clubcamelot.jp/index.php" target="_blank">渋谷CAMELOT B3</a>&nbsp;
＜住所：〒150-0041  東京都渋谷区神南1-18-2 神南坂フレームB3＞<br>
■OPEN 17:30/18:00  <br>
※AXELLの出演時間は決定次第発表致します。<br>

■出演者：AXELL、ニコニコ♡LOVERS、ニコニコ♡STREET、キプリスモルホォ　他<br><br>
■チケット：前売￥2,000 / 当日￥2,500&nbsp;オールスタンディング※当日別途ドリンク代を頂戴します。<br>
■チケット発売：<a href="https://tiget.net/events/40840" target="_blank">TIGET</a>にて11月19日12：30より受付開始<br>
■問合せ：SHIBUYA　X-TREME　TEL_070-1467-8468<br><br>
■放送番組：TOKYO MXテレビ「おはよう！アイドル長屋REMIX」（毎週火曜28時30分～29時放送）内<br>
その他You Tube内おはよう！アイドル長屋REMIXチャンネルにて配信予定<br>

■放送日：1月1日／1月8日／1月15日／1月22日／1月29日<br>
※番組内でのオンエアの他に、You Tube「SHIBUYA X-TREME チャンネル」内での配信も予定されています。<br>

※この日は握手会のみとなります。<br><br>
皆さまぜひ応援にお越しください！<br>

<div class="foot1">2018.11.13</div></div><br>

<!--ここまで-->
